.product-detail-container {
    display: flex;
    flex-direction: column; // Change to column layout on small screens
    align-items: flex-start;
}

.image-container {
    width: 200xp;
    margin-right: 20px;
}

.product-image {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info-container {
    width: 100%;
}

.product-content {
    display: flex;
    // justify-content: space-between; // push items to the right
    // align-items: flex-start; // align items to the top
    margin-top: 20px;

    flex-direction: column; // Change to column layout for content
    align-items: flex-start; // Align items to the start on small screens
}

.website-name {
    margin-bottom: .25rem;
    font-size: 1.75rem;
    color: #4b4b4b;
}

.product-name-cell {
    width: 100%; // Make cells take full width on small screens
    flex: 3;
}

.current-price-cell {
    width: 100%; // Make cells take full width on small screens
    flex: 1;
}

.product-name{
    margin-top: 10px; // Add space between name and other content
    font-size: 2rem;
    font-weight: bold;
    white-space: normal;
    color: #e7a239;
}

.details {
    margin-top: 10px;
}

.current-price {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #70af1d;
}


// Add a media query for larger screens
@media (min-width: 768px) {
    .product-detail-container {
        flex-direction: row; // Switch back to row layout for larger screens
    }

    .image-container {
        width: 200px;
        margin-bottom: 0; // Reset margin on larger screens
    }

    .product-content {
        flex-direction: row; // Switch back to row layout for larger screens
        align-items: flex-start; // Align items to the top on larger screens
    }

    .product-name-cell,
    .price-info-cell {
        width: auto; // Reset width to auto on larger screens
    }

    .product-name {
        margin-top: 0; // Reset margin on larger screens
        font-size: 2.5rem;
    }

    .current-price {
        font-size: 2rem; // Reset font size on larger screens
    }
}