<div class="product-detail-container">
  <div class="col image-container">
    <img
      class="product-image"
      src="{{ product?.imagePath }}"
      alt="{{ product?.productName }}"
    />
  </div>
  <div class="col info-container">
    <div class="product-content">
      <div class="cell product-name-cell">
        <p class="website-name">{{ this.productWebsite }} Product</p>
        <p class="product-name">
          {{ product?.productName }}
        </p>
        <div class="details">
          <ul>
            <li *ngFor="let option of product?.options | keyvalue">
              {{ option.key }}: {{ option.value }}
            </li>
          </ul>
        </div>
      </div>
      <div class="cell current-price-cell">
        <p class="current-price">Current price: ${{ product?.newestPrice }}</p>
        <button class="product-link-button" (click)="onOpenProductWebsite()">
          View on {{ this.productWebsite }}
        </button>
      </div>
    </div>
  </div>
</div>
